# Web Scraper Code to get Data from Wikipedia

In [ ]:
#https://en.wikipedia.org/wiki/List_of_Olympic_Games_host_cities

In [7]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in c:\users\priya\downloads\anaconda\lib\site-packages (2.29.0)
Requirement already satisfied: beautifulsoup4 in c:\users\priya\downloads\anaconda\lib\site-packages (4.12.2)
Requirement already satisfied: pandas in c:\users\priya\downloads\anaconda\lib\site-packages (1.5.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\priya\downloads\anaconda\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\priya\downloads\anaconda\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\priya\downloads\anaconda\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\priya\downloads\anaconda\lib\site-packages (from requests) (2023.5.7)
Requirement already satisfied: soupsieve>1.2 in c:\users\priya\downloads\anaconda\lib\site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\priya\downloads\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\priya\downloads\anaconda\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\priya\downloads\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\priya\downloads\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
                                              0.0/6.3 MB ? eta -:--:--
                                              0.0/6.3 MB ? eta -:--:--
                                              0.0/6.3 MB ? eta -:--:--
                                              0.1/6.3 MB 409.6 kB/s eta 0:00:16
                                              0.1/6.3 MB 435.7 kB/s eta 0:00:15
     -                                        0.2/6.3 MB 958.4 kB/s eta 0:00:07
     -                                        0.2/6.3 MB 958.4 kB/s eta 0:00:07
     --                                       0.4/6.3 MB 1.1 MB/s eta 0:00:06
     --                                       0.4/6.3 MB 1.1 MB/s eta 0:00:06
     --                                       0.4/6.3 MB 1.1 MB/s eta 0:00:06
     ---                                      0.5/6.3 MB 1.2 MB/s eta 0:00:05
     ---                                      0.5/6.3 MB 1.2 MB/s eta 0:00:05
     ----                                     0.7/6.3 MB 1.4 MB/s eta 0:00:05
     ----                                     0.7/6.3 MB 1.4 MB/s eta 0:00:05
     -----                                    0.9/6.3 MB 1.4 MB/s eta 0:00:04
     -----                                    0.9/6.3 MB 1.4 MB/s eta 0:00:04
     ------                                   1.1/6.3 MB 1.5 MB/s eta 0:00:04
     ------                                   1.1/6.3 MB 1.5 MB/s eta 0:00:04
     --------                                 1.3/6.3 MB 1.6 MB/s eta 0:00:04
     --------                                 1.3/6.3 MB 1.6 MB/s eta 0:00:04
     ---------                                1.4/6.3 MB 1.5 MB/s eta 0:00:04
     ---------                                1.5/6.3 MB 1.7 MB/s eta 0:00:03
     ---------                                1.5/6.3 MB 1.7 MB/s eta 0:00:03
     -----------                              1.8/6.3 MB 1.7 MB/s eta 0:00:03
     -----------                              1.8/6.3 MB 1.7 MB/s eta 0:00:03
     ------------                             2.0/6.3 MB 1.8 MB/s eta 0:00:03
     ------------                             2.0/6.3 MB 1.8 MB/s eta 0:00:03
     -------------                            2.1/6.3 MB 1.7 MB/s eta 0:00:03
     --------------                           2.3/6.3 MB 1.8 MB/s eta 0:00:03
     ---------------                          2.5/6.3 MB 1.9 MB/s eta 0:00:03
     ---------------                          2.5/6.3 MB 1.9 MB/s eta 0:00:03
     ----------------                         2.6/6.3 MB 1.8 MB/s eta 0:00:03
     -----------------                        2.8/6.3 MB 1.9 MB/s eta 0:00:02
     -----------------                        2.8/6.3 MB 1.9 MB/s eta 0:00:02
     -------------------                      3.1/6.3 MB 2.0 MB/s eta 0:00:02
     -------------------                      3.1/6.3 MB 2.0 MB/s eta 0:00:02
     ---------------------                    3.4/6.3 MB 2.0 MB/s eta 0:00:02
     ---------------------                    3.4/6.3 MB 2.0 MB/s eta 0:00:02
     -----------------------                  3.7/6.3 MB 2.1 MB/s eta 0:00:02
     -----------------------                  3.7/6.3 MB 2.1 MB/s eta 0:00:02
     -------------------------                4.1/6.3 MB 2.2 MB/s eta 0:00:02
     -------------------------                4.1/6.3 MB 2.1 MB/s eta 0:00:02
     ---------------------------              4.4/6.3 MB 2.2 MB/s eta 0:00:01
     ----------------------------             4.5/6.3 MB 2.2 MB/s eta 0:00:01
     ----------------------------             4.5/6.3 MB 2.2 MB/s eta 0:00:01
     ------------------------------           4.8/6.3 MB 2.4 MB/s eta 0:00:01
     ------------------------------           4.8/6.3 MB 2.4 MB/s eta 0:00:01
     ---------------------------------        5.2/6.3 MB 2.4 MB/s eta 0:00:01
     ---------------------------------        5.3/6.3 MB 2.4 MB/s eta 0:00:01
     -----------------------------------      5.7/6.3 MB 2.5 MB/s eta 0:00:01
     -----------------------------------      5.7/6.3 MB 2.5 MB/s eta 0:00:01
     --------------------------------------   6.1/6.3 MB 2.6 MB/s eta 0:00:01
     --------------------------------------   6.1/6.3 MB 2.5 MB/s eta 0:00:01
     ---------------------------------------  6.3/6.3 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------- 6.3/6.3 MB 2.6 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_Olympic_Games_host_cities"

# Fetch the page content
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table with Olympic host cities
table = soup.find('table', {'class': 'wikitable'})

# Extract table rows
rows = []
for row in table.find_all('tr'):
    cols = row.find_all(['th', 'td'])
    cols = [col.text.strip() for col in cols]
    rows.append(cols)

# Convert to a DataFrame (columns inferred automatically)
olympic_hosts_df = pd.DataFrame(rows)

# Save to Excel
olympic_hosts_df.to_excel("Olympic_Host_Cities.xlsx", index=False)

print("Data saved to Olympic_Host_Cities.xlsx")

Data saved to Olympic_Host_Cities.xlsx

In [29]:
olympic_hosts_df.to_csv('C:\\Users\\priya\\Downloads\\olympic_hosts.csv', index=False)
olympic_hosts_df

,0,1,2,3,4,5,6,7,8,9
0,City,Country,Year,Region,Summer,Winter,Opening ceremony,Closing ceremony,Ref.,None
1,,Athens,Greece,1896,Europe,S005I,,6 April 1896,15 April 1896,
2,,Paris,France,1900,S005II,,14 May 1900,28 October 1900,,None
3,,St. Louis[a],United States,1904,North America,S005III,,1 July 1904,23 November 1904,
4,,London[b],United Kingdom,1908,Europe,S005IV,,27 April 1908,31 October 1908,
...,...,...,...,...,...,...,...,...,...,...
60,,Milan–Cortina d'Ampezzo,Italy,2026,,W025XXV,6 February 2026,22 February 2026,,None
61,,Los Angeles,United States,2028,North America,S034XXXIV,,14 July 2028,30 July 2028,
62,,French Alps,France,2030,Europe,,W026XXVI,8 February 2030,24 February 2030,
63,,Brisbane,Australia,2032,Oceania,S035XXXV,,23 July 2032,8 August 2032,
64,,Salt Lake City,United States,2034,North America,,W027XXVII,10 February 2034,26 February 2034,

# After manual cleaning of the olympic_hosts dataset

In [ ]:
olympic_hosts_final_path = "C:\\Users\\priya\\Downloads\\olympic_hosts_final.csv"
olympic_hosts_final = pd.read_csv(olympic_hosts_final_path)

### Normalizing the data - Converting IOC Codes

In [41]:
file_path = 'C:\\Users\\priya\\Downloads\\medals_per_country_per_year.csv'
medals_df = pd.read_csv(file_path)

# Extensive IOC to Country mapping dictionary
ioc_country_mapping = {
    'USA': 'United States',
    'GBR': 'United Kingdom',
    'AUS': 'Australia',
    'GER': 'Germany',
    'CAN': 'Canada',
    'FRA': 'France',
    'CHN': 'China',
    'JPN': 'Japan',
    'RUS': 'Russia',
    'BRA': 'Brazil',
    'ITA': 'Italy',
    'ESP': 'Spain',
    'MEX': 'Mexico',
    'SWE': 'Sweden',
    'NED': 'Netherlands',
    'ARG': 'Argentina',
    'DEN': 'Denmark',
    'NOR': 'Norway',
    'NZL': 'New Zealand',
    'SUI': 'Switzerland',
    'KOR': 'South Korea',
    'POL': 'Poland',
    'HUN': 'Hungary',
    'BEL': 'Belgium',
    'FIN': 'Finland',
    'AUT': 'Austria',
    'GRE': 'Greece',
    'CZE': 'Czech Republic',
    'POR': 'Portugal',
    'TUR': 'Turkey',
    'IRL': 'Ireland',
    'SAF': 'South Africa',
    'IND': 'India',
    'CUB': 'Cuba',
    'CRO': 'Croatia',
    'ROU': 'Romania',
    'SRB': 'Serbia',
    'EGY': 'Egypt',
    'UKR': 'Ukraine',
    'BLR': 'Belarus',
    'ISL': 'Iceland',
    'EST': 'Estonia',
    'LAT': 'Latvia',
    'LIT': 'Lithuania',
    'SLO': 'Slovenia',
    'SVK': 'Slovakia',
    'BUL': 'Bulgaria',
    'PHI': 'Philippines',
    'VIE': 'Vietnam',
    'THA': 'Thailand',
    'MAS': 'Malaysia',
    'SIN': 'Singapore',
    'INA': 'Indonesia',
    'PAK': 'Pakistan',
    'IRN': 'Iran',
    'IRQ': 'Iraq',
    'ISR': 'Israel',
    'UAE': 'United Arab Emirates',
    'QAT': 'Qatar',
    'KSA': 'Saudi Arabia',
    'JOR': 'Jordan',
    'ALG': 'Algeria',
    'MAR': 'Morocco',
    'TUN': 'Tunisia',
    'SEN': 'Senegal',
    'NGR': 'Nigeria',
    'KEN': 'Kenya',
    'ETH': 'Ethiopia',
    'ZIM': 'Zimbabwe',
    'BOT': 'Botswana',
    'ANG': 'Angola',
    'ZAM': 'Zambia',
    'NAM': 'Namibia',
    'UGA': 'Uganda',
    'RWA': 'Rwanda',
    'TAN': 'Tanzania',
    'CMR': 'Cameroon',
    'COD': 'Democratic Republic of the Congo',
    'IVB': 'Ivory Coast',
    'SUD': 'Sudan',
    'HAI': 'Haiti',
    'JAM': 'Jamaica',
    'TTO': 'Trinidad and Tobago',
    'BAR': 'Barbados',
    'GRN': 'Grenada',
    'BAH': 'Bahamas',
    'STP': 'Sao Tome and Principe',
    'VAN': 'Vanuatu',
    'FIJ': 'Fiji',
    'SAM': 'Samoa',
    'TGA': 'Tonga',
    'DEN': 'Denmark',
    'URS': 'Soviet Union',
    'PUR': 'Puerto Rico',
    'ZZX': 'Taiwan',
    'BOH': 'Czech Republic',
    'TOG': 'Togo',
    'TÃ¼rkiye' : 'Turkey',
    'PAR': 'Paraguay',
    'URU': 'Uruguay',
    'MGL': 'Mongolia',
    'GDR': 'German Democratic Republic',
    'TPE': 'Taipei',
    'TRI':'Trinidad and Tobago',
    'TCH': 'Czechoslovakia',
    'IRI': 'Iran',
    'YUG': 'Yugoslavia',
    'ANZ': 'Australia',
    'RSA': 'Russia',
    'RU1': 'Russia',
    'LUX': 'Luxembourg',
    'EUA': 'European Union',
    'FRG': 'Germany',
    'COL': 'Colombia',
    'NIG': 'Nigeria',
    'PRK': 'North Korea',
    'LIB': 'Libia',
}

# Replace IOC country codes with full country names in the 'Country' column
medals_df['Country'] = medals_df['Country'].map(ioc_country_mapping).fillna(medals_df['Country'])

# Save the updated DataFrame to a new CSV file
#medals_df.to_csv('C:\\Users\\priya\\Downloads\\updated_medals_per_country_per_year.csv', index=False)

# Display the first few rows to confirm the changes
print(medals_df.head())

   Year         Country  Total_Medals
0  1896       Australia             2
1  1896         Austria             5
2  1896         Denmark             6
3  1896          France            11
4  1896  United Kingdom             7

In [23]:
file_path2 = 'C:\\Users\\priya\\Downloads\\summer.csv'
history = pd.read_csv(file_path2)
ioc_country_mapping = {
    'USA': 'United States',
    'GBR': 'United Kingdom',
    'AUS': 'Australia',
    'GER': 'Germany',
    'CAN': 'Canada',
    'FRA': 'France',
    'CHN': 'China',
    'JPN': 'Japan',
    'RUS': 'Russia',
    'BRA': 'Brazil',
    'ITA': 'Italy',
    'ESP': 'Spain',
    'MEX': 'Mexico',
    'SWE': 'Sweden',
    'NED': 'Netherlands',
    'ARG': 'Argentina',
    'DEN': 'Denmark',
    'NOR': 'Norway',
    'NZL': 'New Zealand',
    'SUI': 'Switzerland',
    'KOR': 'South Korea',
    'POL': 'Poland',
    'HUN': 'Hungary',
    'BEL': 'Belgium',
    'FIN': 'Finland',
    'AUT': 'Austria',
    'GRE': 'Greece',
    'CZE': 'Czech Republic',
    'POR': 'Portugal',
    'TUR': 'Turkey',
    'IRL': 'Ireland',
    'SAF': 'South Africa',
    'IND': 'India',
    'CUB': 'Cuba',
    'CRO': 'Croatia',
    'ROU': 'Romania',
    'SRB': 'Serbia',
    'EGY': 'Egypt',
    'UKR': 'Ukraine',
    'BLR': 'Belarus',
    'ISL': 'Iceland',
    'EST': 'Estonia',
    'LAT': 'Latvia',
    'LIT': 'Lithuania',
    'SLO': 'Slovenia',
    'SVK': 'Slovakia',
    'BUL': 'Bulgaria',
    'PHI': 'Philippines',
    'VIE': 'Vietnam',
    'THA': 'Thailand',
    'MAS': 'Malaysia',
    'SIN': 'Singapore',
    'INA': 'Indonesia',
    'PAK': 'Pakistan',
    'IRN': 'Iran',
    'IRQ': 'Iraq',
    'ISR': 'Israel',
    'UAE': 'United Arab Emirates',
    'QAT': 'Qatar',
    'KSA': 'Saudi Arabia',
    'JOR': 'Jordan',
    'ALG': 'Algeria',
    'MAR': 'Morocco',
    'TUN': 'Tunisia',
    'SEN': 'Senegal',
    'NGR': 'Nigeria',
    'KEN': 'Kenya',
    'ETH': 'Ethiopia',
    'ZIM': 'Zimbabwe',
    'BOT': 'Botswana',
    'ANG': 'Angola',
    'ZAM': 'Zambia',
    'NAM': 'Namibia',
    'UGA': 'Uganda',
    'RWA': 'Rwanda',
    'TAN': 'Tanzania',
    'CMR': 'Cameroon',
    'COD': 'Democratic Republic of the Congo',
    'IVB': 'Ivory Coast',
    'SUD': 'Sudan',
    'HAI': 'Haiti',
    'JAM': 'Jamaica',
    'TTO': 'Trinidad and Tobago',
    'BAR': 'Barbados',
    'GRN': 'Grenada',
    'BAH': 'Bahamas',
    'STP': 'Sao Tome and Principe',
    'VAN': 'Vanuatu',
    'FIJ': 'Fiji',
    'SAM': 'Samoa',
    'TGA': 'Tonga',
    'DEN': 'Denmark',
    'URS': 'Soviet Union',
    'PUR': 'Puerto Rico',
    'ZZX': 'Taiwan',
    'BOH': 'Czech Republic',
    'TOG': 'Togo',
    'TÃ¼rkiye' : 'Turkey',
    'PAR': 'Paraguay',
    'URU': 'Uruguay',
    'MGL': 'Mongolia',
    'GDR': 'German Democratic Republic',
    'TPE': 'Taipei',
    'TRI':'Trinidad and Tobago',
    'TCH': 'Czechoslovakia',
    'IRI': 'Iran',
    'YUG': 'Yugoslavia',
    'ANZ': 'Australia',
    'RSA': 'Russia',
    'RU1': 'Russia',
    'LUX': 'Luxembourg',
    'EUA': 'European Union',
    'FRG': 'Germany',
    'COL': 'Colombia',
    'NIG': 'Nigeria',
    'PRK': 'North Korea',
    'LIB': 'Libia',
    
    
    # Add any more codes that are necessary...
}

# Replace IOC country codes with full country names in the 'Country' column
history['Country'] = history['Country'].map(ioc_country_mapping).fillna(history['Country'])

# Save the updated DataFrame to a new CSV file
history.to_csv('C:\\Users\\priya\\Downloads\\history_medals.csv', index=False)

# Display the first few rows to confirm the changes
print(history.head())

   Year    City     Sport Discipline             Athlete  Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred  Hungary    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto  Austria    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios   Greece    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis   Greece    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon   Greece    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver

# ## Grouping the datasets by country and year

In [24]:
history = history.groupby(['Country', 'Year']).size().reset_index(name='Total_Medals')

       Country  Year  Total_Medals
0          AFG  2008             1
1          AFG  2012             1
2          AHO  1988             1
3          ARM  1996             2
4          ARM  2000             1
...        ...   ...           ...
1144    Zambia  1984             1
1145    Zambia  1996             1
1146  Zimbabwe  1980            16
1147  Zimbabwe  2004             3
1148  Zimbabwe  2008             4

[1149 rows x 3 columns]

In [40]:
history_path = 'C:\\Users\\priya\\Downloads\\history_medals.csv'
olympic_hosts_final_path = "C:\\Users\\priya\\Downloads\\olympic_hosts_final.csv"
olympic_hosts_final = pd.read_csv(olympic_hosts_final_path)
history = pd.read_csv(history_path)
olympic_hosts_final['Host_Year_Country'] = olympic_hosts_final['Year'].astype(str) + olympic_hosts_final['Country']

# Step 2: Create a set of host years and countries from olympic_hosts_df
host_years_countries = set(olympic_hosts_final['Host_Year_Country'])

# Step 3: Create a similar key in the 'history' DataFrame
history['Host_Year_Country'] = history['Year'].astype(str) + history['Country']

# Step 4: Create the 'Hosted' column based on whether the key is in the set
history['Hosted'] = history['Host_Year_Country'].isin(host_years_countries)

# Optionally remove the 'Host_Year_Country' column if it's no longer needed
history.drop('Host_Year_Country', axis=1, inplace=True)

# Save the updated DataFrame back to CSV
history.to_csv('C:\\Users\\priya\\Downloads\\updated_history_medals.csv', index=False)

# Display the first few rows to confirm the changes
print(history.head())

history.to_csv('C:\\Users\\priya\\Downloads\\history_final_merged.csv', index=False)

   Year    City     Sport Discipline             Athlete  Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred  Hungary    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto  Austria    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios   Greece    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis   Greece    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon   Greece    Men

                        Event   Medal  Hosted
0              100M Freestyle    Gold   False
1              100M Freestyle  Silver   False
2  100M Freestyle For Sailors  Bronze    True
3  100M Freestyle For Sailors    Gold    True
4  100M Freestyle For Sailors  Silver    True