In [4]:
pip install pandas

Requirement already satisfied: pandas in d:\tiya.anaconda\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in d:\tiya.anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\tiya.anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\tiya.anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\tiya.anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\tiya.anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
df = pd.read_csv("C:\\Users\\Tiya\\Downloads\\concatenated_df.csv")

In [8]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Hosted
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",Hungary,Men,100M Freestyle,Gold,False
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",Austria,Men,100M Freestyle,Silver,False
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",Greece,Men,100M Freestyle For Sailors,Bronze,True
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",Greece,Men,100M Freestyle For Sailors,Gold,True
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",Greece,Men,100M Freestyle For Sailors,Silver,True

In [10]:
numeric_summary = df.describe()

# Display the summary statistics
print(numeric_summary)

               Year
count  42703.000000
mean    1982.781163
std       34.798712
min     1896.000000
25%     1964.000000
50%     1996.000000
75%     2016.000000
max     2016.000000

In [16]:
import numpy as np
rangemin=np.min(df['Year'])
rangemax=np.max(df['Year'])
vari=np.var(df['Year'])
stddev=np.std(df['Year'])
print("range is",rangemin,rangemax)
print("variance is", vari)
print("standard deviation is", stddev)

range is 1896 2016
variance is 1210.9219953498803
standard deviation is 34.79830448958513